<app-layout>
  <h1 class="text-2xl font-bold">Members</h1>
  <!-- <div class="flex justify-between mt-5 w-full"> -->
    <!-- <div class="w-2/5 float-left">
      <tui-input
        tuiTextfieldIconLeft="tuiIconSearchLarge"
        [formControl]="searchValue"
        [tuiTextfieldCleaner]="true"
        class="shadow-md"
      >
        <p>Search by member name</p>
        <input
          tuiTextfield
          placeholder="Type to start searching..."
        />
      </tui-input>
    </div> -->
    <div class="flex justify-end">
      <button
        tuiButton
        icon="tuiIconPlusLarge"
        type="submit"
        appearance="custom"
        (click)="showAddorEditDialog(template)"
        class="bg-gradient-to-r from-[#234976] to-[#0F9449] text-white my-1"
      >
        Add member
      </button>
    </div>
  <!-- </div> -->
  <!-- <ng-container *ngIf="(members$ | async) as source;"> -->
    <gui-grid
      [source]="source"
      [loading]="loading"
      [autoResizeWidth]="true"
      [sorting]="true"
      [searching]="searching"
      [paging]="paging"
      [verticalGrid]="false"
      [horizontalGrid]="false"
      [theme]="'Material'"
      class="overflow-x-auto shadow-lg mb-7 mt-2 w-full"
    >
      <!--Member ID-->
      <gui-grid-column header="Member ID" field="memberID">
        <ng-template let-value="value" let-item="item">
          {{item?.memberID}}
        </ng-template>
      </gui-grid-column>
      <!--Full name-->
      <gui-grid-column header="Full name" field="fullName">
        <ng-template let-value="value" let-item="item">
          {{item?.fullName}}
        </ng-template>
      </gui-grid-column>
      <!--Phone No-->
      <gui-grid-column header="Phone No." field="phoneNumber">
        <ng-template let-value="value" let-item="item">
          {{item?.phoneNumber}}
        </ng-template>
      </gui-grid-column>
      <!--Email-->
      <gui-grid-column header="Email" field="email">
        <ng-template let-value="value" let-item="item">
          {{item?.email}}
        </ng-template>
      </gui-grid-column>
      <!--City-->
      <gui-grid-column header="City" field="city">
        <ng-template let-value="value" let-item="item">
          {{item?.city}}
        </ng-template>
      </gui-grid-column>
      <!--City-->
      <gui-grid-column header="Status" field="status">
        <ng-template let-value="value" let-item="item">
          {{item?.status}}
        </ng-template>
      </gui-grid-column>
      <!--Actions-->
      <gui-grid-column header="Actions" [sorting]="false">
        <ng-template let-value="value" let-item="item">
          <td class="py-4 inline-flex gap-2">
            <button
              tuiIconButton
              icon="tuiIconEdit"
              type="submit"
              appearance="custom"
              size="s"
              class="bg-[#1F566E] text-white"
              (click)="showAddorEditDialog(template, item)"
            >
            </button>
            <button
              tuiIconButton
              icon="tuiIconTrash2"
              type="submit"
              appearance="custom"
              size="s"
              class="bg-red-500 text-white"
              (click)="openDeleteDialog(deleteTemplate, item._id)"
            >
            </button>
          </td> 
        </ng-template>
      </gui-grid-column>
    </gui-grid>
  <!-- </ng-container> -->
  <!-- <ng-template #loading>
    <tui-loader class="mt-14" [overlay]="false" size="xl" [inheritColor]="false"></tui-loader>
  </ng-template> -->
</app-layout>

<ng-template #template let-observer>
  <h1 class="text-center text-3xl font-bold">{{memberID ? 'Edit': 'Add new'}} Member</h1>
  <form [formGroup]="memberForm">
    <div class="grid grid-cols-12 gap-3 mt-10 mb-5">
      <div class="col-span-2">
        <!--Prefix-->
        <label class="font-semibold text-base">Prefix</label>
        <tui-select
          tuiTextfieldSize="l"
          formControlName="prefix"
          class="mt-1"
        >
          <input
            tuiTextfield
            placeholder="Select prefix"
          />
          <tui-data-list-wrapper
            *tuiDataList
            [items]="prefixes"
          ></tui-data-list-wrapper>
        </tui-select>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Please select a prefix',
          control: f['prefix']
        }">
        </ng-container>
      </div>
      <div class="col-span-5">
        <!--Firstname-->
        <label class="font-semibold text-base">Firstname</label>
        <tui-input formControlName="firstName" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1">
          Member first name
          <input
            tuiTextfield
            type="text"
            autocomplete="new-password"
          />
        </tui-input>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Please provide your first name',
          control: f['firstName']
        }">
        </ng-container>
      </div>
      <div class="col-span-5">
        <!--Firstname-->
        <label class="font-semibold text-base">Lastname</label>
        <tui-input formControlName="lastName" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1">
          Member last name
          <input
            tuiTextfield
            type="text"
            autocomplete="new-password"
          />
        </tui-input>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Please provide your last name',
          control: f['lastName']
        }">
        </ng-container>
      </div>
    </div>
    <!--Email-->
    <label class="font-semibold text-base">Email</label>
    <tui-input formControlName="email" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1" tuiTextfieldIcon="tuiIconMailLarge">
      Email address
      <input
        tuiTextfield
        type="email"
        autocomplete="new-password"
      />
    </tui-input>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      validation: 'required',
      message: 'Please provide a valid email address',
      control: f['email']
    }">
    </ng-container>
    <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
      validation: 'pattern',
      message: 'Please provide a valid email address',
      control: f['email']
    }">
    </ng-container>

    <!--City-->
    <div class="mt-7">
      <label class="font-semibold text-base">City</label>
      <tui-input formControlName="city" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1" tuiTextfieldIcon="tuiIconMapPinLarge">
        City
        <input
          tuiTextfield
          type="text"
          autocomplete="new-password"
        />
      </tui-input>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Please specify city',
        control: f['city']
      }">
      </ng-container>
    </div>

    <!--Phone Number-->
    <div class="mt-7">
      <label class="font-semibold text-base">Phone Number</label>
      <tui-input-phone-international
        class="mt-1"
        formControlName="phoneNumber"
        [countries]="countries"
        [tuiTextfieldLabelOutside]="true"
        [tuiTextfieldCleaner]="true"
        [(countryIsoCode)]="countryIsoCode"
      ></tui-input-phone-international>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'phoneNumber',
        message: 'Please provide a phone number',
        control: f['phoneNumber']
      }">
      </ng-container>
    </div>

    <!--Gender-->
    <div class="mt-7">
      <label class="font-semibold text-base">Gender</label>
      <tui-select
        tuiTextfieldSize="l"
        formControlName="gender"
        class="mt-1"
      >
        Specify gender
        <input
          tuiTextfield
          placeholder="Select gender"
        />
        <tui-data-list-wrapper
          *tuiDataList
          [items]="genders"
        ></tui-data-list-wrapper>
      </tui-select>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Please specify a gender',
        control: f['gender']
      }">
      </ng-container>
    </div>

    <!--Type-->
    <div class="mt-7">
      <label class="font-semibold text-base">Membership Type</label>
      <tui-select
        tuiTextfieldSize="l"
        formControlName="type"
        class="mt-1"
      >
        Specify membership type
        <input
          tuiTextfield
          placeholder="Select type"
        />
        <tui-data-list-wrapper
          *tuiDataList
          [items]="types"
        ></tui-data-list-wrapper>
      </tui-select>
      <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
        validation: 'required',
        message: 'Please specify a membership type',
        control: f['type']
      }">
      </ng-container>
    </div>

    <!--Status-->
    <ng-container *ngIf="memberID">
      <div class="mt-7">
        <label class="font-semibold text-base">Status</label>
        <div
          tuiGroup
          class="group mt-1"
          [collapsed]="true"
          >
            <tui-radio-block
              contentAlign="right"
              formControlName="status"
              item="Approved"
              size="l"
            >
              Approved
            </tui-radio-block>
            <tui-radio-block
              contentAlign="right"
              formControlName="status"
              item="Rejected"
              size="l"
            >
              Rejected
            </tui-radio-block>
            <tui-radio-block
              contentAlign="right"
              formControlName="status"
              item="Pending"
              size="l"
            >
              Pending
            </tui-radio-block>
            <tui-radio-block
              contentAlign="right"
              formControlName="status"
              item="Banned"
              size="l"
            >
              Banned
            </tui-radio-block>
        </div>
      </div>
    </ng-container>
    
    <div class="flex justify-center gap-3 mt-8">
      <ng-container *ngIf="!memberID">
        <button
          tuiButton
          [showLoader]="(savingMember | async)!"
          icon="tuiIconUserPlusLarge"
          appearance="primary"
          [disabled]="memberForm.invalid"
          (click)="createMember()"
        >
          Add member
        </button>
      </ng-container>

      <ng-container *ngIf="memberID">
        <button
          tuiButton
          [showLoader]="(savingMember | async)!"
          icon="tuiIconUserPlusLarge"
          appearance="primary"
          [disabled]="memberForm.invalid"
          (click)="editMemberData()"
        >
          Update member
        </button>
      </ng-container>

      <button
        tuiButton
        icon="tuiIconCloseLarge"
        appearance="secondary-destructive"
        [disabled]="(savingMember | async) == true"
        (click)="closeDialog()"
      >
        Cancel
      </button>
    </div>
  </form>
</ng-template>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="w-full mt-1 text-left fv-plugins-message-container text-xxs 2xl:text-xs">
      <span class="text-xs font-semibold text-orange-600 fv-help-block" role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>

<ng-template #deleteTemplate let-observer>
  <h1 class="font-bold text-2xl text-center border-b border-gray-400 pb-3">Remove Member</h1>
  <h1 class="font-bold text-xl text-center py-3">Are you sure you want to delete this member?</h1>
  <div class="flex justify-center gap-3 mt-5">
    <button [showLoader]="(savingMember | async) == true" tuiButton appearance="custom" icon="tuiIconTrashLarge" class="bg-red-500 text-white" (click)="deleteMember(); observer.complete()">
      Delete
    </button>
    <button tuiButton appearance="secondary-destructive" icon="tuiIconCloseLarge" (click)="observer.complete()">
      Cancel
    </button>
  </div>
</ng-template>

<!--
  <div class="relative overflow-x-auto rounded-lg shadow-lg mb-7 mt-2">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-white uppercase bg-gradient-to-r from-[#234976] to-[#0F9449]">
          <tr>
            <th class="pl-4 py-3 text-sm">Member ID</th>
            <!-- <th class="px-2 py-3 text-sm">Role</th>
            <th class="px-2 py-3 text-sm">Fullname</th>
            <th class="px-2 py-3 text-sm">Email</th>
            <th class="px-2 py-3 text-sm">Phone Number</th>
            <th class="px-2 py-3 text-sm">City</th>
            <th class="px-2 py-3 text-sm">Status</th>
            <th scope="col" class="px-2 py-3 text-sm">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="data?.users?.length == 0; else showEvents">
            <th colspan="12" role="row" class="px-5 py-10 text-lg text-center">
              No members available
            </th>
          </ng-container>
          <ng-template #showEvents>
            <ng-container *ngFor="let user of data?.users; let i = index; let first = first; let last = last; trackBy: trackByFn">
              <tr class="bg-white border-b border-gray-300 text-gray-600">
                <td class="pl-4 py-4 max-w-48">
                  {{user?.memberID}}
                </td> 
                <!-- <td class="px-2 py-4 capitalize">
                  {{user?.role}}
                </td>
                <td class="px-2 py-4">
                  {{user?.fullName}}
                </td>
                <td class="px-2 py-4">
                  {{user?.email}}
                </td>
                <td class="px-2 py-4">
                  {{user?.phoneNumber ? user?.phoneNumber : 'No phone number provided'}}
                </td>
                <td class="px-2 py-4">
                  {{user?.city}}
                </td>
                <td class="px-2 py-4">
                  {{showStatus(user?.status)}}
                </td>
                <td class="py-4 inline-flex gap-2">
                  <button
                    tuiIconButton
                    icon="tuiIconEdit"
                    type="submit"
                    appearance="custom"
                    size="s"
                    class="bg-[#1F566E] text-white"
                    (click)="showAddorEditDialog(template, user)"
                  >
                  </button>
                  <button
                    tuiIconButton
                    icon="tuiIconTrash2"
                    type="submit"
                    appearance="custom"
                    size="s"
                    class="bg-red-500 text-white"
                    (click)="openDeleteDialog(deleteTemplate, user._id)"
                  >
                  </button>
                </td> 
              </tr>
            </ng-container>
          </ng-template>
        </tbody>
      </table>
      <div class="pt-10 pb-6">
        <tui-pagination
          [length]="floorNumber(data?.totalCount / limit)"
          [index]="index"
          (indexChange)="goToPage($event)"
        ></tui-pagination>
      </div>
    </div>
-->