<app-layout>
  <h1 class="text-2xl font-bold">Members</h1>
  <div class="flex justify-between mt-5 w-full">
    <div class="w-2/5 float-left">
      <tui-input
        tuiTextfieldIconLeft="tuiIconSearchLarge"
        [formControl]="searchValue"
        [tuiTextfieldCleaner]="true"
        class="shadow-md"
      >
        <p>Search by member name</p>
        <input
          tuiTextfield
          placeholder="Type to start searching..."
        />
      </tui-input>
    </div>
    <div class="w-1/5 flex justify-end">
      <button
        tuiButton
        icon="tuiIconPlusLarge"
        type="submit"
        appearance="custom"
        (click)="showAddorEditDialog(template)"
        class="bg-gradient-to-r from-[#234976] to-[#0F9449] text-white my-1"
      >
        Add member
      </button>
    </div>
  </div>
  <ng-container *ngIf="(members$ | async) as data; else loading">
    <div class="relative overflow-x-auto rounded-lg shadow-lg mb-7 mt-2">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-white uppercase bg-gradient-to-r from-[#234976] to-[#0F9449]">
          <tr>
            <th class="pl-4 py-3 text-sm">Member ID</th>
            <th class="px-2 py-3 text-sm">Fullname</th>
            <th class="px-2 py-3 text-sm">Email</th>
            <th class="px-2 py-3 text-sm">Phone Number</th>
            <th class="px-2 py-3 text-sm">City</th>
            <th class="px-2 py-3 text-sm">Status</th>
            <th class="px-2 py-3 text-sm">Role</th>
            <th scope="col" class="px-2 py-3 text-sm">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="data?.users?.length == 0; else showEvents">
            <th colspan="12" role="row" class="px-5 py-10 text-lg text-center">
              No members available
            </th>
          </ng-container>
          <ng-template #showEvents>
            <ng-container *ngFor="let user of data?.users; let i = index; let first = first; let last = last; trackBy: trackByFn">
              <tr class="bg-white border-b border-gray-300 text-gray-600">
                <td class="pl-4 py-4 max-w-48">
                  {{user?.memberID}}
                </td> 
                <td class="px-2 py-4">
                  {{user?.fullName}}
                </td>
                <td class="px-2 py-4">
                  {{user?.email}}
                </td>
                <td class="px-2 py-4">
                  {{user?.phoneNumber ? user?.phoneNumber : 'No phone number provided'}}
                </td>
                <td class="px-2 py-4">
                  {{user?.city}}
                </td>
                <td class="px-2 py-4">
                  {{showStatus(user?.status)}}
                </td>
                <td class="px-2 py-4 capitalize">
                  {{user?.role}}
                </td>
                
                <td class="py-4 inline-flex gap-2">
                  <!--(click)="showAddorEditDialog(template, event)"-->
                  <button
                    tuiIconButton
                    icon="tuiIconEdit"
                    type="submit"
                    appearance="custom"
                    size="s"
                    class="bg-[#1F566E] text-white"
                  >
                  </button>
                  <button
                    tuiIconButton
                    icon="tuiIconTrash2"
                    type="submit"
                    appearance="custom"
                    size="s"
                    class="bg-red-500 text-white"
                  >
                  </button>
                </td> 
              </tr>
            </ng-container>
          </ng-template>
        </tbody>
      </table>
      <div class="pt-10 pb-6">
        <tui-pagination
          [length]="floorNumber(data?.totalCount / limit)"
          [index]="index"
          (indexChange)="goToPage($event)"
        ></tui-pagination>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <tui-loader class="mt-14" [overlay]="false" size="xl" [inheritColor]="false"></tui-loader>
  </ng-template>
</app-layout>

<ng-template #template let-observer>

</ng-template>