<app-layout>
  <h1 class="text-2xl font-bold">Events</h1>
  <div class="flex justify-between w-full mt-5">
    <div class="relative float-left w-2/5">
      <tui-input
        tuiTextfieldIconLeft="tuiIconSearchLarge"
        [formControl]="searchValue"
        [tuiTextfieldCleaner]="true"
        class="shadow-md"
      >
        <p>Search by event title</p>
        <input
          tuiTextfield
          placeholder="Type to start searching..."
        />
      </tui-input>
      <tui-hosted-dropdown
        tuiDropdownAlign="center"
        [tuiDropdownMaxHeight]="800"
        [content]="dropdownContent"
        [(open)]="open"
        class="absolute top-3 right-3"
      >
        <button
          tuiIconButton
          type="button"
          size="s"
          appearance="custom"
          icon="tuiIconSlidersLarge"
          [pseudoActive]="open || null"
          class="text-gray-500 bg-white rounded-full"
          [ngClass]="(isFilterActive | async) == true ? 'bg-blue-500 text-white': 'bg-white text-gray-500'"
        >
        </button>
      </tui-hosted-dropdown>
    </div>
    <div *ngIf="(isFilterActive | async) == true" class="w-[86%] flex justify-end">
      <button
        tuiButton
        type="submit"
        appearance="accent"
        size="m"
        (click)="resetFilters()"
        class="my-1"
      >
        Reset Filters
      </button>
    </div>
    <div class="flex justify-end w-1/5">
      <button
        tuiButton
        icon="tuiIconPlusLarge"
        type="submit"
        size="m"
        appearance="custom"
        (click)="showAddorEditDialog(template)"
        class="bg-gradient-to-r from-[#234976] to-[#0F9449] text-white my-1"
      >
        Add event
      </button>
    </div>
  </div>
  <ng-container *ngIf="(events$ | async) as data; else loading">
    <div class="relative mt-2 overflow-x-auto rounded-lg shadow-lg mb-7">
      <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-white uppercase bg-gradient-to-r from-[#234976] to-[#0F9449]">
          <tr>
            <th class="py-3 pl-4 text-sm">Title</th>
            <th class="px-2 py-3 text-sm">Starts On</th>
            <th class="px-2 py-3 text-sm">Ends On</th>
            <th class="px-2 py-3 text-sm">Location</th>
            <th class="px-2 py-3 text-sm">Status</th>
            <th class="px-2 py-3 text-sm">Rating</th>
            <th scope="col" class="px-2 py-3 text-sm">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="data?.events?.length == 0; else showEvents">
            <th colspan="12" role="row" class="px-5 py-10 text-lg text-center">
              No events available
            </th>
          </ng-container>
          <ng-template #showEvents>
            <ng-container *ngFor="let event of data?.events; let i = index; let first = first; let last = last; trackBy: trackByFn">
              <tr class="text-gray-600 bg-white border-b border-gray-300">
                <td class="py-4 pl-4 max-w-48">
                  <div class="flex items-center gap-2">
                    <img [src]="event?.featuredImage" alt="featured" class="w-12 h-12 rounded-md">
                    <span>{{event?.title}}</span>
                  </div>
                </td>
                <td class="px-2 py-4">
                  {{event?.startDate | date:'mediumDate'}}
                </td>
                <td class="px-2 py-4">
                  {{event?.endDate | date:'mediumDate'}}
                </td>
                <td class="px-2 py-4">
                    {{event?.location}}
                </td>
                <td class="px-2 py-4 capitalize">
                  {{event?.eventStatus}}
                </td>
                <td class="py-4">
                  <tui-rating [(ngModel)]="rating" class="text-yellow-600" disabled="true"></tui-rating>
                </td>
                <td class="inline-flex gap-2 py-4">
                  <button
                    tuiIconButton
                    icon="tuiIconEye"
                    type="submit"
                    appearance="custom"
                    size="s"
                    class="bg-[#10914B] text-white"
                    [routerLink]="['/event-details', event?._id]"
                  >
                  </button>
                  <button
                    tuiIconButton
                    icon="tuiIconEdit"
                    type="submit"
                    appearance="custom"
                    size="s"
                    class="bg-[#1F566E] text-white"
                    (click)="showAddorEditDialog(template, event)"
                  >
                  </button>
                  <button
                    tuiIconButton
                    icon="tuiIconTrash2"
                    type="submit"
                    appearance="custom"
                    size="s"
                    class="text-white bg-red-500"
                    (click)="openDeleteDialog(deleteTemplate, event?._id)"
                  >
                  </button>
                </td>
              </tr>
            </ng-container>
          </ng-template>
        </tbody>
      </table>
      <div class="pt-10 pb-6">
        <tui-pagination
          [length]="floorNumber(data?.totalCount / limit) || 1"
          [index]="index"
          (indexChange)="goToPage($event)"
        ></tui-pagination>
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <tui-loader class="mt-14" [overlay]="false" size="xl" [inheritColor]="false"></tui-loader>
  </ng-template>
</app-layout>

<ng-template
  #template
  let-observer
>
  <h1 class="text-2xl font-bold text-center">{{eventID ? 'Edit': 'Create'}} Event</h1>
  <form [formGroup]="eventForm">
    <tui-stepper #agendaDiv [activeItemIndex]="activeIndex" class="flex justify-center my-5">
      <button
        tuiStep
        [stepState]="validateStepOne() == true ? 'pass': 'error'"
      >
        Details
      </button>
      <button
        tuiStep
      >
        Agenda
      </button>
      <button
        tuiStep
      >
        Gallery & Contact Info
      </button>
    </tui-stepper>

    <ng-container *ngIf="activeIndex == 0">
      <h4 class="my-5 text-lg text-center">Provide details for your event</h4>
      <!--Title-->
      <div class="my-3">
        <label class="text-base font-semibold">Title</label>
        <tui-input formControlName="title" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1 mb-4">
          e.g. Annual Union Meeting
          <input
            tuiTextfield
            type="text"
            autocomplete="new-password"
          />
        </tui-input>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Please provide a title for your event',
          control: f['title']
        }">
        </ng-container>

      </div>

      <!--Description-->
      <div class="mb-3">
        <label class="text-base font-semibold">Description</label>
        <tui-text-area
          formControlName="description"
          [tuiTextfieldLabelOutside]="true"
          [tuiTextfieldCleaner]="true"
          [maxLength]="500"
          class="mt-1"
        >
          Describe your event
        </tui-text-area>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Please provide a description for your event',
          control: f['description']
        }">
        </ng-container>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'maxlength',
          message: 'Max character length allowed is 500 characters',
          control: f['description']
        }">
        </ng-container>
      </div>

      <!--Featured Image-->
      <div class="my-3">
        <label class="text-base font-semibold">Featured Image</label>
        <div (change)="uploadFeaturedImage($event)" class="flex items-center justify-center w-full mt-1">
          <ng-container *ngIf="!f['featuredImage']?.value">
            <label for="dropzone-file-f" class="flex flex-col items-center justify-center w-full h-32 border-2 border-gray-400 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <tui-marker-icon
                  mode="link"
                  src="tuiIconUploadCloud"
                  class="mb-1"
                ></tui-marker-icon>
                <p class="mb-2 text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and drop</p>
              </div>
              <input id="dropzone-file-f" type="file" accept="image/*" class="hidden" />
            </label>
          </ng-container>
          <ng-container *ngIf="f['featuredImage']?.value">
            <label for="dropzone-file-f" class="flex flex-col items-center justify-center w-full h-32 border-2 border-gray-400 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
              <div class="flex flex-wrap justify-start gap-2 py-4 ml-2 align-top">
                <div class="relative w-28 h-28">
                  <img [src]="f['featuredImage'].value" alt="img" width="100" height="100" class="object-contain w-full h-full border border-gray-400 rounded-md">
                </div>
              </div>
              <input id="dropzone-file-f" type="file" accept="image/*" class="hidden" />
            </label>
          </ng-container>
        </div>
      </div>

      <!--Location-->
      <div class="mt-2">
        <label class="text-base font-semibold">Location & Venue</label>
        <tui-input formControlName="location" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1" tuiTextfieldIcon="tuiIconMapPinLarge">
          e.g. Serena Hotel, Islamabad
          <input
            tuiTextfield
            type="text"
            autocomplete="new-password"
          />
        </tui-input>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Please specify location for the event',
          control: f['location']
        }">
        </ng-container>
      </div>

      <!--Type-->
      <div class="my-4">
        <label class="text-base font-semibold">Type</label>
        <tui-select
          formControlName="type"
          [tuiTextfieldLabelOutside]="true"
          class="mt-1"
        >
          e.g. Conference
        <input
          tuiTextfield
        />
          <tui-data-list-wrapper
            *tuiDataList
            [items]="eventTypes"
          ></tui-data-list-wrapper>
        </tui-select>
      </div>

      <!--Dates-->
      <div class="my-4">
        <label class="col-span-12 text-base font-semibold">Select event days</label>
        <tui-input-date-range formControlName="eventDays" class="mt-1" [min]="today">Choose dates</tui-input-date-range>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Please provide days in which your event will take place',
          control: f['eventDays']
        }">
        </ng-container>
      </div>

      <!--Fees-->
      <div class="my-4">
        <label class="text-base font-semibold">Event Fees</label>
        <tui-input-number
          formControlName="fees"
          [tuiTextfieldPrefix]="'PKR ' | tuiCurrency"
          [tuiTextfieldLabelOutside]="true"
        >
          e.g. 1000
        </tui-input-number>
      </div>
    </ng-container>

    <ng-container *ngIf="activeIndex == 1">
      <h4 class="my-5 text-lg text-center">Create an agenda for your event</h4>
      <ng-container *ngFor="let day of daysOfEvents; let index = index; let firstDay = first;">
        <p class="font-bold text-xl bg-[#224C73] rounded-lg text-white px-3 py-2" [ngClass]="firstDay ? 'mb-8': 'my-8'">
          Day {{index + 1}} - {{mapAndGetMonths(day?.month)}} {{day.day}}, {{day.year}}
        </p>
        <!--Set Agenda-->
        <div class="pb-5 border-b border-gray-400">
          <ng-container formArrayName="agendas">
            <ng-container *ngFor="let agent of agendas.controls; let i = index; let first = first; let last = last">
              <div [formGroupName]="i" class="w-full">
                <ng-container *ngIf="agent.get('day')!.value === index || agent.get('day')!.value?.day == day?.day">
                  <h1 class="my-3 text-xl font-bold"></h1>
                  <!-- image -->
                  <ng-container *ngIf="!agent.get('speakerImg')!.value">
                    <div class="flex flex-col items-center justify-center mb-7">
                      <label [for]="'dropzone-file-doc-' + i" class="flex flex-col items-center justify-center border-2 border-gray-400 border-dashed rounded-full cursor-pointer w-28 h-28 bg-gray-50 hover:bg-gray-100">
                        <div class="flex flex-col items-center justify-center py-1">
                          <tui-marker-icon
                            mode="link"
                            src="tuiIconUploadCloud"
                            class="mb-1"
                          ></tui-marker-icon>
                        </div>
                        <input [id]="'dropzone-file-doc-' + i"  type="file" accept="image/*" class="hidden" (change)="uploadSpeakerImage($event, i)" />
                      </label>
                      <p class="mt-1 text-xs">Upload an image for the speaker <sup>(Optional)</sup></p>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="agent.get('speakerImg')!.value">
                    <div class="flex flex-col items-center justify-center mb-7">
                      <label [for]="'dropzone-file-doc-' + i" class="flex flex-col items-center justify-center border-2 border-gray-400 border-dashed rounded-full cursor-pointer w-28 h-28 bg-gray-50 hover:bg-gray-100">
                        <div class="flex flex-wrap justify-start align-top">
                          <div class="relative w-[6.5rem] h-[6.5rem]">
                            <img [src]="agent.get('speakerImg')!.value" alt="img" width="40" height="40" class="object-contain w-full h-full border border-gray-400 rounded-full">
                          </div>
                        </div>
                        <input [id]="'dropzone-file-doc-' + i" (change)="uploadSpeakerImage($event, i)"  type="file" accept="image/*" class="hidden" />
                      </label>
                      <p class="mt-1 text-xs">Upload an image for the speaker <sup>(Optional)</sup></p>
                    </div>
                  </ng-container>
                  <!--Hall-->
                  <div class="my-3">
                    <label class="text-base font-semibold">Hall</label>
                    <tui-input formControlName="venue" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1 mb-4">
                      e.g. SHAMADAN 3, Islamabad Serena hotel
                      <input
                        tuiTextfield
                        type="text"
                        autocomplete="new-password"
                      />
                    </tui-input>
                    <span *ngIf="(agent.get('venue')!.invalid && agent.get('venue')!.touched)" class="text-xs text-red-500">
                      Please provide a venue for this event
                    </span>
                  </div>
                  <!--Agenda title-->
                  <div class="my-3">
                    <label class="text-base font-semibold">Title</label>
                    <tui-input formControlName="agendaTitle" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1 mb-4">
                      e.g. Adrenal Health and Disease.
                      <input
                        tuiTextfield
                        type="text"
                        autocomplete="new-password"
                      />
                    </tui-input>
                    <span *ngIf="(agent.get('agendaTitle')!.invalid && agent.get('agendaTitle')!.touched)" class="text-xs text-red-500">
                      Please provide a valid title for the agenda
                    </span>
                  </div>
                  <!--Time-->
                  <div class="grid grid-cols-12 gap-3">
                    <div class="col-span-6">
                      <label class="text-base font-semibold">Start time</label>
                      <tui-input-time
                        formControlName="from"
                        [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true"
                      >
                        e.g. 09:00
                      </tui-input-time>
                    </div>
                    <div class="col-span-6">
                      <label class="text-base font-semibold">End time</label>
                      <tui-input-time
                        formControlName="to"
                        [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true"
                      >
                        e.g. 23:59
                      </tui-input-time>
                    </div>
                    <span *ngIf="(agent.get('from')!.invalid && agent.get('from')!.touched) || (agent.get('to')!.invalid && agent.get('to')!.touched)" class="col-span-12 text-xs text-red-500">
                      Please provide a valid timeline
                    </span>
                  </div>
                  <!--Speaker-->
                  <div class="my-3">
                    <label class="text-base font-semibold">Speaker</label>
                    <tui-input formControlName="speaker" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1 mb-4">
                      e.g. J. Robert Oppenheimer
                      <input
                        tuiTextfield
                        type="text"
                        autocomplete="new-password"
                      />
                    </tui-input>
                  </div>
                   <!--Stream Url-->
                   <div class="my-3">
                    <label class="text-base font-semibold">Stream Url</label>
                    <tui-input formControlName="streamUrl" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1 mb-4">
                      https://youtube.com
                      <input
                        tuiTextfield
                        type="text"
                        autocomplete="new-password"
                      />
                    </tui-input>
                    <span *ngIf="(agent.get('agendaTitle')!.invalid && agent.get('agendaTitle')!.touched)" class="text-xs text-red-500">
                      Please provide a valid title for the agenda
                    </span>
                  </div>
                  <!--attachments-->
                  <div *ngIf="eventID" class="my-3">
                    <ng-container *ngIf="attachments.length > 0">
                      <label class="text-base font-semibold">Attachments</label>
                      <label [for]="'dropzone-file-all' + i" class="flex flex-col justify-start w-full border-2 border-gray-400 border-dashed rounded-lg cursor-pointer h-44 bg-gray-50 hover:bg-gray-100">
                        <div class="flex flex-wrap justify-start gap-5 py-4 ml-2 align-top">
                          <ng-container *ngFor="let image of attachments; let j = index">
                            <div class="relative w-32 h-32">
                              <div (click)="spliceAttachment(j, $event)" [ngClass]="checkFileType(image.mimetype) == 'audio' ? '-top-2 left-[120px]' : '-top-2 -right-1'" class="absolute z-50 flex flex-col items-center justify-center w-5 h-5 font-semibold text-white bg-red-600 rounded-full">
                                x
                              </div>
                              <img *ngIf="checkFileType(image.mimetype) == 'image'" [src]="image?.url" alt="img" width="100" height="100" class="object-contain w-full h-full border border-gray-400 rounded-md">
                              <video *ngIf="checkFileType(image.mimetype) == 'video'" controls class="object-contain w-full h-full border border-gray-400 rounded-md">
                                <source [src]="image.url" [type]="image.mimetype" />
                              </video>
                              <div *ngIf="checkFileType(image.mimetype) == 'audio'">
                                <audio controls [src]="image.url" class="w-36"></audio>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                        <input [id]="'dropzone-file-all' + i" type="file" accept="audio/*, video/*, image/*" class="hidden" multiple="true" (change)="uploadAttachments($event, i)"/>
                      </label>
                    </ng-container>
                    <ng-container *ngIf="attachments.length == 0">
                      <label class="text-base font-semibold">Attachments</label>
                      <label [for]="'dropzone-file-all' + i" class="flex flex-col justify-start w-full border-2 border-gray-400 border-dashed rounded-lg cursor-pointer h-44 bg-gray-50 hover:bg-gray-100">
                        <div class="flex flex-col items-center justify-center pt-5 pb-6">
                          <tui-marker-icon
                            mode="link"
                            src="tuiIconUploadCloudLarge"
                            class="mb-1"
                          ></tui-marker-icon>
                          <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                        </div>
                        <input [id]="'dropzone-file-all' + i" type="file" accept="audio/*, video/*, image/*" class="hidden" multiple="true" (change)="uploadAttachments($event, i)"/>
                      </label>
                    </ng-container>

                  </div>
                  <div class="flex justify-end">
                    <button
                      tuiIconButton
                      type="button"
                      size="m"
                      appearance="accent"
                      icon="tuiIconXOctagonLarge"
                      (click)="removeAgenda(i)"
                    ></button>
                  </div>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
          <div class="mb-5">
            <button
            tuiIconButton
            type="button"
            size="m"
            class="mt-4 bg-[#224C73] text-white"
            appearance="custom"
            icon="tuiIconPlusLarge"
            (click)="addAgenda(index)"
          ></button>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="activeIndex == 2">
      <!--Gallery Images-->
      <div class="my-5">
        <label class="text-base font-semibold">Gallery Images</label><sup>(Optional)</sup>
        <div (change)="uploadMultipleImages($event)" class="flex items-center justify-center w-full mt-1">
          <ng-container *ngIf="multipleImages?.length == 0">
            <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-400 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
              <div class="flex flex-col items-center justify-center pt-5 pb-6">
                <tui-marker-icon
                  mode="link"
                  src="tuiIconUploadCloudLarge"
                  class="mb-1"
                ></tui-marker-icon>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG or JPG</p>
              </div>
              <input id="dropzone-file" type="file" accept="image/*" class="hidden" multiple="true" />
            </label>
          </ng-container>
          <ng-container *ngIf="multipleImages.length > 0">
            <label for="dropzone-file" class="flex flex-col justify-start w-full h-64 border-2 border-gray-400 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
              <div class="flex flex-wrap justify-start gap-2 py-4 ml-2 align-top">
                <ng-container *ngFor="let image of multipleImages; let j = index">
                  <div class="relative w-24 h-24">
                    <div (click)="spliceImage(j, $event)" class="absolute flex flex-col items-center justify-center w-5 h-5 font-semibold text-white bg-red-600 rounded-full -top-2 -right-1">
                      x
                    </div>
                    <img [src]="image" alt="img" width="100" height="100" class="object-contain w-full h-full border border-gray-400 rounded-md">
                  </div>
                </ng-container>
              </div>
              <input id="dropzone-file" type="file" accept="image/*" class="hidden" multiple="true" />
            </label>
          </ng-container>
        </div>
      </div>
      <!--Sponsor-->
      <div class="my-3">
        <label class="text-base font-semibold">Sponsor</label>
        <tui-input formControlName="organizer" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1 mb-4">
          e.g. Quaid Technologies
          <input
            tuiTextfield
            type="text"
            autocomplete="new-password"
          />
        </tui-input>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'required',
          message: 'Please specify an organizer for your event',
          control: f['organizer']
        }">
        </ng-container>

      </div>
      <!--Contact-->
      <div class="my-3">
        <label class="text-base font-semibold">Phone Number</label>
        <tui-input-phone-international
          class="mt-1"
          formControlName="organizerContact"
          [countries]="countries"
          [tuiTextfieldLabelOutside]="true"
          [tuiTextfieldCleaner]="true"
          [(countryIsoCode)]="countryIsoCode"
        ></tui-input-phone-international>
        <ng-container [ngTemplateOutlet]="formError" [ngTemplateOutletContext]="{
          validation: 'organizerContact',
          message: 'Please provide a phone number',
          control: f['organizerContact']
        }">
        </ng-container>

      </div>
      <!--Public Open?-->
      <div class="mt-5">
        <tui-checkbox-labeled
          formControlName="openForPublic"
          size="l"
        >
          Open For Public?
        </tui-checkbox-labeled>
      </div>
    </ng-container>

    <!--SUBMIT BTNS-->
    <div class="flex justify-center gap-3 mt-5">
      <ng-container *ngIf="!eventID && activeIndex == 2">
        <button
          tuiButton
          [showLoader]="(savingEvent | async)!"
          icon="tuiIconCalendarLarge"
          appearance="custom"
          class="bg-gradient-to-r from-[#234976] to-[#0F9449] text-white my-1"
          [disabled]="eventForm.invalid || (uploadingMultiple | async) == true"
          (click)="createEvent()"
        >
          Create Event
        </button>
      </ng-container>

      <ng-container *ngIf="eventID && activeIndex == 2">
        <button
          tuiButton
          [showLoader]="(savingEvent | async)!"
          icon="tuiIconCalendarLarge"
          appearance="custom"
          class="bg-gradient-to-r from-[#234976] to-[#0F9449] text-white my-1"
          [disabled]="eventForm.invalid || (uploadingMultiple | async) == true"
          (click)="updateEvent()"
        >
          Update Event
        </button>
      </ng-container>

      <ng-container *ngIf="activeIndex < 2">
        <button
          tuiButton
          icon="tuiIconSkipForward"
          appearance="custom"
          class="bg-gradient-to-r from-[#234976] to-[#0F9449] text-white my-1"
          (click)="nextStep()"
        >
          Next
        </button>
      </ng-container>
      <ng-container *ngIf="!eventID">
        <button
          tuiButton
          icon="tuiIconCloseLarge"
          appearance="accent"
          class="mt-1"
          [disabled]="(savingEvent | async) == true"
          (click)="closeDialog($event)"
        >
          Cancel
        </button>
      </ng-container>
      <ng-container *ngIf="activeIndex > 0">
        <button
          tuiButton
          icon="tuiIconSkipBack"
          appearance="secondary-destructive"
          (click)="prevStep()"
        >
          Back
        </button>
      </ng-container>
    </div>
  </form>
  <div *ngIf="(uploadingMultiple | async) == true" class="absolute z-50 right-3 bottom-6">
    <button (click)="toggle()" class="px-10 py-3 rounded-tr-md rounded-tl-md bg-[#234B76] text-white font-semibold">Media upload progress</button>
    <tui-expand [expanded]="toggleExpand" class="bg-white border border-gray-400 shadow-md rounded-br-md rounded-bl-md h-18 drop-shadow-md">
      <ng-template tuiExpandContent>
        <div class="flex justify-center gap-2">
          <tui-loader [showLoader]="true" size="s">
            <div class="w-6 h-6"></div>
          </tui-loader>
          <p class="py-5">Uploading {{(media.uploadCount | async)}} of {{totalCount}}...</p>
        </div>
      </ng-template>
    </tui-expand>
  </div>
</ng-template>

<ng-template #deleteTemplate let-observer>
  <h1 class="pb-3 text-2xl font-bold text-center border-b border-gray-400">Delete Event</h1>
  <h1 class="py-3 text-xl font-bold text-center">Are you sure you want to delete this event?</h1>
  <div class="flex justify-center gap-3 mt-5">
    <button [showLoader]="(savingEvent | async) == true" tuiButton appearance="custom" icon="tuiIconTrashLarge" class="text-white bg-red-500" (click)="deleteEvent(); observer.complete()">
      Delete
    </button>
    <button tuiButton appearance="secondary-destructive" icon="tuiIconCloseLarge" (click)="observer.complete()">
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #formError let-control="control" let-message="message" let-validation="validation">
  <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
    <div class="w-full mt-1 text-left fv-plugins-message-container text-xxs 2xl:text-xs">
      <span class="text-xs font-semibold text-orange-600 fv-help-block" role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>

<ng-template #dropdownContent>
  <div class="px-5 py-2 dropdown w-160">
    <form [formGroup]="filterForm">
      <h2 class="my-2 text-lg font-semibold">Advanced Filters</h2>
      <div class="grid grid-cols-12 gap-2 my-4">
        <div class="col-span-6">
          <label class="block mb-1">Location</label>
          <tui-input
            formControlName="location"
            [tuiTextfieldCleaner]="true"
          >
            <p>Filter by location</p>
            <input
              tuiTextfield
              placeholder="Type here..."
            />
          </tui-input>
        </div>
        <div class="col-span-6">
          <label class="block mb-1">Type</label>
          <tui-input
            formControlName="type"
            [tuiTextfieldCleaner]="true"
          >
            <p>Filter by type</p>
            <input
              tuiTextfield
              placeholder="Type here..."
            />
          </tui-input>
        </div>
      </div>
      <div class="grid grid-cols-12 gap-2 my-4">
        <div class="col-span-6">
          <label class="block mb-1">Start Date</label>
          <tui-input-date
            formControlName="startDate"
            tuiTextfieldSize="l"
            [tuiTextfieldCleaner]="true"
          >
            Choose a start date
          </tui-input-date>
        </div>
        <div class="col-span-6">
          <label class="block mb-1">End Date</label>
          <tui-input-date
            formControlName="endDate"
            [tuiTextfieldCleaner]="true"
            tuiTextfieldSize="l"
          >
            Choose an end date
          </tui-input-date>
        </div>
      </div>
      <div class="my-4">
        <label class="block mb-1">Speaker</label>
        <tui-input
          formControlName="speaker"
          [tuiTextfieldCleaner]="true"
        >
          <p>Filter by speaker</p>
          <input
            tuiTextfield
            placeholder="Type here..."
          />
        </tui-input>
      </div>
      <div class="my-4">
        <label class="mb-2 block">Event Status</label>
        <tui-filter
          formControlName="status"
          (toggledItem)="filterToggleStatus($event)"
          size="m"
          [items]="items"
          class="capitalize mt-2"
        ></tui-filter>
      </div>
      <div class="my-4">
        <button
          tuiButton
          type="button"
          appearance="primary"
          size="m"
          [disabled]="checkIfFilterFormHasValue() == true"
          (click)="applyAdvancedFilters()"
        >
          Apply
        </button>
      </div>
    </form>
  </div>
</ng-template>
