<app-layout>
  <tui-loader [overlay]="true" [showLoader]="(loadingData | async) == true" [size]="'xl'">
    <div class="flex justify-between">
      <h1 class="text-2xl font-bold">Agenda Creation & Management</h1>
      <button
        tuiButton
        icon="tuiIconArrowLeftLarge"
        type="button"
        size="m"
        appearance="custom"
        class="text-white bg-red-500"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
    <h3 class="mt-4 text-lg font-bold">Topic: &nbsp; <span class="text-gray-600">{{event?.title}}</span></h3>
    <h3 class="mt-2 text-lg font-bold">Venue: &nbsp; <span class="text-gray-600">{{event?.location?.name}}</span></h3>
    <h3 class="mt-2 text-lg font-bold">Date/s: &nbsp;
      <ng-container *ngIf="event?.startDate !== event?.endDate">
        <span class="text-gray-600">
          {{event?.startDate | date: 'mediumDate'}} &nbsp; - &nbsp; {{event?.endDate | date: 'mediumDate'}}
        </span>
      </ng-container>
      <ng-container *ngIf="event?.startDate == event?.endDate">
        <span class="text-gray-600">
          {{event?.endDate | date: 'mediumDate'}}
        </span>
      </ng-container>
    </h3>
    <tui-accordion class="my-7" [closeOthers]="false">
      <tui-accordion-item *ngFor="let day of daysOfEvents; let index = index; let firstDay = first;">
        <div class="flex justify-between">
          <p class="text-lg font-semibold">
            {{mapAndGetMonths(day?.month)}} {{day.day}}, {{day.year}}
          </p>
        </div>
        <ng-template tuiAccordionItemContent>
          <form [formGroup]="agendaForm">
            <ng-container formArrayName="agendas">
              <ng-container *ngFor="let agent of agendas.controls; let i = index; let first = first; let last = last">
                <ng-container *ngIf="agent.get('day')!.value === index || agent.get('day')!.value?.day == day?.day">
                  <div [formGroupName]="i" class="w-full px-4 py-2 mb-12 rounded-md shadow-lg bg-slate-100">
                    <button
                      tuiButton
                      type="button"
                      size="m"
                      class="mt-4 bg-[#224C73] text-white flex justify-end"
                      appearance="custom"
                      icon="tuiIconPlusLarge"
                      (click)="addPreliminaries(index)"
                    >Add Preliminaries</button>
                    <!--THEME-->
                    <div *ngIf="agent.get('isLunchBreak')!.value == false && agent.get('isTeaBreak')!.value == false && agent.get('isPrelim')!.value == false" class="relative mt-3 text-center">
                      <label class="text-lg font-semibold text-center">Agenda Theme <sup class="text-red-500">*</sup></label>
                      <tui-input
                        formControlName="theme"
                        [tuiTextfieldLabelOutside]="true"
                        [tuiTextfieldCleaner]="true"
                        class="mt-1"
                      >
                        e.g. Cancer: Types, Diagnosis and Symptoms
                        <input
                          tuiTextfield
                          type="text"
                          autocomplete="new-password"
                        />
                      </tui-input>
                      <button
                        *ngIf="i > 0"
                        tuiIconButton
                        type="button"
                        size="s"
                        appearance="custom"
                        icon="tuiIconEdit"
                        class="absolute text-white bg-gray-500 rounded-full top-11 right-2"
                        (click)="agendas.at(i).get('theme')?.enable()"
                      >
                      </button>
                      <span class="text-xs" *ngIf="i > 0">If you want to change the theme for this agenda, you can do so by clicking the "Edit" icon</span>
                    </div>
                    <span *ngIf="(agent.get('theme')!.invalid && agent.get('theme')!.touched)" class="text-xs text-red-500">
                      Please provide a theme for your agenda
                    </span>

                    <!--Hall & Title-->
                    <div class="grid grid-cols-12 gap-3 mt-10">
                       <!--Hall-->
                      <div class="col-span-6" [ngClass]="(agent.get('isLunchBreak')!.value == false && agent.get('isTeaBreak')!.value == false) ? 'col-span-6' : 'col-span-full'">
                        <label class="text-base font-semibold">Hall <sup class="text-red-500">*</sup></label>
                        <tui-select
                          class="mt-[5px]"
                          formControlName="hall"
                          [tuiTextfieldLabelOutside]="true"
                        >
                          Select hall
                          <input
                            placeholder="Select hall"
                            tuiTextfield
                          />
                          <tui-data-list-wrapper
                            *tuiDataList
                            [items]="halls"
                          ></tui-data-list-wrapper>
                        </tui-select>
                        <span *ngIf="(agent.get('hall')!.invalid && agent.get('hall')!.touched)" class="text-xs text-red-500">
                          Please provide a hall for this event
                        </span>
                      </div>
                      <!--Agenda title-->
                      <div class="col-span-6" *ngIf="agent.get('isLunchBreak')!.value == false && agent.get('isTeaBreak')!.value == false">
                        <label class="text-base font-semibold">Topic <sup class="text-red-500">*</sup></label>
                        <tui-input formControlName="agendaTitle" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1">
                          e.g. Adrenal Health and Disease.
                          <input
                            tuiTextfield
                            type="text"
                            autocomplete="new-password"
                          />
                        </tui-input>
                        <span *ngIf="(agent.get('agendaTitle')!.invalid && agent.get('agendaTitle')!.touched)" class="text-xs text-red-500">
                          Please provide a valid title for the agenda
                        </span>
                      </div>
                      <!--Break Title-->
                      <div class="col-span-full" *ngIf="agent.get('isLunchBreak')!.value == true && agent.get('isTeaBreak')!.value == false">
                        <label class="text-base font-semibold">Title</label>
                        <tui-select
                          class="mt-[5px]"
                          formControlName="agendaTitle"
                          [tuiTextfieldLabelOutside]="true"
                        >
                          Choose meal type
                          <input
                            placeholder="Choose meal type"
                            tuiTextfield
                          />
                          <tui-data-list-wrapper
                            *tuiDataList
                            [items]="['Breakfast', 'Lunch', 'Dinner', 'Gala Dinner', 'Luncheon', 'Other']"
                          ></tui-data-list-wrapper>
                        </tui-select>
                      </div>
                    </div>
                    <!--Time-->
                    <div class="grid grid-cols-12 gap-3 mt-4">
                      <div class="col-span-6">
                        <label class="text-base font-semibold">Start time <sup class="text-red-500">*</sup></label>
                        <tui-input-time
                          formControlName="from"
                          [tuiTextfieldLabelOutside]="true"
                          [tuiTextfieldCleaner]="true"
                          [tuiTextfieldPostfix]="getPostfix(i, true)"
                        >
                          e.g. 09:00 AM
                        </tui-input-time>
                        <tui-toggle
                          formControlName="isPmFrom"
                          class="my-1.5"
                          [showIcons]="true"
                          size="l"
                        ></tui-toggle>
                        <span class="ml-2 text-gray-500 text-xxs">Toggle to switch between AM and PM</span>
                      </div>
                      <div class="col-span-6">
                        <label class="text-base font-semibold">End time <sup class="text-red-500">*</sup></label>
                        <tui-input-time
                          formControlName="to"
                          [tuiTextfieldLabelOutside]="true"
                          [tuiTextfieldCleaner]="true"
                          [tuiTextfieldPostfix]="getPostfix(i, false)"
                        >
                          e.g. 02:00 PM
                        </tui-input-time>
                        <tui-toggle
                          formControlName="isPmTo"
                          [showIcons]="true"
                          class="my-1.5"
                          size="l"
                        ></tui-toggle>
                        <span class="ml-2 text-gray-500 text-xxs">Toggle to switch between AM and PM</span>
                      </div>
                      <span *ngIf="(agent.get('from')!.invalid && agent.get('from')!.touched) || (agent.get('to')!.invalid && agent.get('to')!.touched)" class="col-span-12 text-xs text-red-500">
                        Please provide a valid timeline
                      </span>
                    </div>
                    <!--SPEAKER & SPONSOR-->
                    <div *ngIf="agent.get('isLunchBreak')!.value == false && agent.get('isTeaBreak')!.value == false && agent.get('isPrelim')!.value == false" class="grid grid-cols-12 gap-3 mt-4">
                      <!--Speaker-->
                      <div class="col-span-6">
                        <label class="text-base font-semibold">Speaker</label>
                        <tui-combo-box formControlName="speaker" class="mt-[5px]" [tuiTextfieldLabelOutside]="true">
                          <tui-data-list-wrapper
                            *tuiDataList
                            [items]="speakers | tuiFilterByInput"
                          ></tui-data-list-wrapper>
                        </tui-combo-box>
                        <span *ngIf="(agent.get('speaker')!.invalid && agent.get('speaker')!.touched)" class="text-xs text-red-500">
                          Please provide a speaker for this event
                        </span>
                      </div>
                      <!--Sponsor-->
                      <div class="col-span-6">
                        <label class="text-base font-semibold">Sponsor</label>
                          <tui-combo-box
                            class="mt-[5px]"
                            formControlName="sponsor"
                            [tuiTextfieldLabelOutside]="true"
                          >
                            <tui-data-list-wrapper
                              *tuiDataList
                              [items]="sponsors | tuiFilterByInput"
                            ></tui-data-list-wrapper>
                          </tui-combo-box>
                        <span *ngIf="(agent.get('sponsor')!.invalid && agent.get('sponsor')!.touched)" class="text-xs text-red-500">
                          Please provide a sponsor for this agenda
                        </span>
                      </div>
                    </div>
                    <!--Mdoerator and Stream-->
                    <div class="grid grid-cols-12 gap-3 mt-4">
                      <div class="col-span-6">
                        <label class="text-base font-semibold">Moderator</label>
                        <tui-input formControlName="moderator" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1" appUppercase>
                          Moderator name
                          <input
                            tuiTextfield
                            appUppercase
                            type="text"
                            autocomplete="new-password"
                          />
                        </tui-input>
                      </div>
                      <div class="col-span-6">
                        <label class="text-base font-semibold">Stream URL</label>
                        <tui-input formControlName="streamUrl" [tuiTextfieldLabelOutside]="true" [tuiTextfieldCleaner]="true" class="mt-1">
                          <input
                            tuiTextfield
                            type="text"
                            autocomplete="new-password"
                          />
                        </tui-input>
                      </div>
                      <span *ngIf="(agent.get('from')!.invalid && agent.get('from')!.touched) || (agent.get('to')!.invalid && agent.get('to')!.touched)" class="col-span-12 text-xs text-red-500">
                        Please provide a valid timeline
                      </span>
                    </div>
                    <!--Speaker team-->
                    <div *ngIf="agent.get('isLunchBreak')!.value == false && agent.get('isTeaBreak')!.value == false && agent.get('isPrelim')!.value == false" formArrayName="speakerTeam">
                      <h3 class="mt-5 mb-3 font-semibold">Add Speaker's team</h3>
                      <ng-container *ngFor="let team of getSpeakerTeam(i).controls; let j = index;">
                        <div [formGroupName]="j">
                          <div class="grid grid-cols-12 gap-2 mx-14">
                            <tui-combo-box
                              formControlName="name"
                              [tuiTextfieldLabelOutside]="true"
                              class="col-span-6"
                            >
                              <tui-data-list-wrapper
                                *tuiDataList
                                [items]="speakers | tuiFilterByInput"
                              ></tui-data-list-wrapper>
                            </tui-combo-box>
                            <tui-select
                              formControlName="role"
                              [tuiTextfieldLabelOutside]="true"
                              class="col-span-6"
                            >
                              Choose role
                              <input
                                placeholder="Choose role"
                                tuiTextfield
                              />
                              <tui-data-list-wrapper
                                *tuiDataList
                                [items]="['Chairman', 'Chair person', 'Co-Chair', 'Scientific Chair', 'Secretary', 'Moderator', 'Facilitator', 'Expert', 'Judge', 'Other']"
                              ></tui-data-list-wrapper>
                            </tui-select>
                          </div>
                        </div>
                        <div class="flex justify-end">
                          <button
                            tuiIconButton
                            size="s"
                            appearance="secondary-destructive"
                            icon="tuiIconTrash"
                            (click)="removeSpeakerTeam(i,j)">
                          </button>
                        </div>
                      </ng-container>
                      <button tuiButton appearance="primary" class="mx-14" size="s" type="button" (click)="addSpeaker(i)">Add new member</button>
                    </div>

                    <!--Delete agenda btn-->
                    <div class="flex justify-end mt-2">
                      <button
                        tuiIconButton
                        type="button"
                        size="m"
                        appearance="accent"
                        icon="tuiIconTrash2Large"
                        (click)="removeAgenda(i)"
                      ></button>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </ng-container>
            <div class="flex justify-start mt-3 mb-2 gap-x-3">
              <button
                tuiButton
                type="button"
                size="m"
                class="mt-4 bg-[#224C73] text-white"
                appearance="custom"
                icon="tuiIconPlusLarge"
                (click)="addAgenda(index)"
              >Add Agenda</button>
              <button
                tuiButton
                type="button"
                size="m"
                class="mt-4 bg-[#224C73] text-white"
                appearance="custom"
                icon="tuiIconPlusLarge"
                (click)="addLunchBreak(index)"
              >Add Meal Break</button>
              <button
                tuiButton
                type="button"
                size="m"
                class="mt-4 bg-[#224C73] text-white"
                appearance="custom"
                icon="tuiIconPlusLarge"
                (click)="addTeaBreak(index)"
              >Add Tea Break</button>
            </div>
          </form>
        </ng-template>
      </tui-accordion-item>
    </tui-accordion>
    <div class="flex justify-center gap-x-3">
      <button
        tuiButton
        type="submit"
        size="m"
        appearance="custom"
        class="bg-gradient-to-r from-[#234976] to-[#0F9449] text-white my-1"
        [showLoader]="(saving | async)!"
        (click)="submitAgenda()"
        >
        Submit agenda
      </button>
      <button
        tuiButton
        type="button"
        size="m"
        appearance="custom"
        class="my-1 text-white bg-red-500"
        (click)="cancel()"
      >
        Cancel
      </button>
    </div>
  </tui-loader>
</app-layout>

