<app-header></app-header>
<section class="grid grid-cols-12 gap-2 w-full mt-14">
  <div class="col-span-2 -mt-2">
    <app-sidenav></app-sidenav>
  </div>
  <div class="col-span-10 mt-5">
    <section class="shadow-md rounded-md mx-3 p-5 bg-white drop-shadow-md">
      <h1 class="text-2xl font-bold mb-5 border-b-2 pb-2 border-gray-300">Events Summary</h1>
      <div class="flex justify-between">
        <tui-arc-chart
          size="l"
          minLabel=""
          maxLabel=""
          class="total"
          [value]="[80]"
        >
          80
          <div class="text-base">Total Events</div>
        </tui-arc-chart>
        <tui-arc-chart
          size="l"
          minLabel=""
          maxLabel=""
          class="upcoming"
          [value]="[40]"
        >
          40
          <div class="text-base">Upcoming Events</div>
        </tui-arc-chart>
        <tui-arc-chart
          size="l"
          minLabel=""
          maxLabel=""
          class="past"
          [value]="[35]"
        >
          35
          <div class="text-base">Past Events</div>
        </tui-arc-chart>
        <tui-arc-chart
          size="l"
          minLabel=""
          maxLabel=""
          class="ongoing"
          [value]="[5]"
        >
          5
          <div class="text-base">Ongoing Events</div>
        </tui-arc-chart>
      </div>
    </section>
  </div>
</section>