.ongoing {
  --tui-chart-0: var(--tui-support-04);
}

.past {
  --tui-chart-0: var(--tui-support-06)
}

.upcoming {
  --tui-chart-0: var(--tui-support-08)
}

.fc .fc-today-button {
  text-transform: capitalize!important;
}