<app-layout>
  <ng-container *ngIf="event else loading">
    <div class="w-10/12 rounded-lg shadow-lg border-t-8 border-t-[#118A4E] border-b-8 border-b-[#234A75] mx-auto relative overflow-hidden">
      <div class="absolute right-0 top-0 h-16 w-16">
        <div
          class="absolute transform rotate-45 bg-[#234A75] text-center text-white font-semibold py-2 text-base -left-20 top-8 w-[190px] capitalize">
          {{event?.eventStatus}}
        </div>
      </div>
      <h1 class="text-center font-bold text-4xl my-5 mx-32 font-['Preahvihear']">{{event?.title}}</h1>
      <div class="mx-auto w-100 h-64 shadow-md">
        <img
          [src]="event?.featuredImage"
          alt="conference_image"
          class="object-cover rounded-xl w-full h-full"
        >
      </div>
      <p class="text-center text-xl my-5 rounded-lg font-['Preahvihear']">{{event?.description}}</p>
      <div class="text-center text-lg py-1 px-2 rounded-md bg-[#118A4E] text-white font-semibold mb-3 w-2/3 mx-auto">
        <ng-container *ngIf="event?.startDate !== event?.endDate">
          <p class="mt-2"><tui-svg new size="xxs" src="tuiIconCalendarLarge"></tui-svg> &nbsp; {{event?.startDate | date: 'MMM d'}} to {{event?.endDate | date: 'mediumDate'}}</p>
        </ng-container>
        <ng-container *ngIf="event?.startDate == event?.endDate">
          <p class="mt-2"><tui-svg new size="xxs" src="tuiIconCalendarLarge"></tui-svg> &nbsp; {{event?.startDate | date: 'mediumDate'}}</p>
        </ng-container>
        <p class="my-2"><tui-svg new size="xxs" src="tuiIconMapPinLarge"></tui-svg> &nbsp; {{event?.location}}</p>
      </div>
      <div class="flex justify-center">
        <tui-tabs tuiMobileTabs [(activeItemIndex)]="activeItemIndex" class="mb-5">
          <button
            tuiTab
            (click)="activeItemIndex = 0"
            class="font-medium"
          >
            <tui-svg
              src="tuiIconOLLarge"
              class="tui-space_right-2"
            ></tui-svg>
            Agenda
          </button>
          <button
            tuiTab
            (click)="activeItemIndex = 1"
            class="font-medium"
          >
            <tui-svg
              src="tuiIconCameraLarge"
              class="tui-space_right-2"
            ></tui-svg>
            Gallery
          </button>
        </tui-tabs>
      </div>
      <!--Timeline-->
      <tui-scrollbar class="max-h-140 overflow-y-scroll overflow-x-hidden" *ngIf="activeItemIndex == 0">
        <div class="flex justify-center gap-x-4">
          <tui-tabs tuiMobileTabs [(activeItemIndex)]="activeItemIndexDates" class="mb-5 mt-2">
            <ng-container *ngFor="let date of getObjectKeys(agendaByDay); let i = index">
              <button
                tuiTab
                (click)="activeItemIndexDates = i"
                class="font-medium"
              >
                {{date}}
              </button>
            </ng-container>
          </tui-tabs>
        </div>
        <div class="timeline">
          <ng-container *ngFor="let agent of getObjectValues(agendaByDay, activeItemIndexDates); let i = index; let even = even; let odd = odd">
            <div class="container" [ngClass]="odd ? 'left': 'right'">
              <div class="content">
                <ng-container *ngIf="!agent.agendaTitle.toLowerCase().includes('break')">
                  <p class="mt-2"><span class="font-semibold">Topic</span>: &nbsp; {{agent.agendaTitle}}</p>
                </ng-container>
                <ng-container *ngIf="agent.agendaTitle.toLowerCase().includes('break')">
                  <p class="mt-2">{{agent.agendaTitle}}</p>
                </ng-container>
                <p><span class="font-semibold">Speaker</span>: &nbsp; {{agent.speaker ? agent.speaker : 'No speaker'}}</p>
                <p><span class="font-semibold">Hall</span>: &nbsp; {{agent.venue}}</p>
                <p>
                  <span class="font-semibold">From</span> &nbsp; {{agent.from}} &nbsp;
                  <span class="font-semibold">to</span> &nbsp; {{agent.to}}
                </p>
              </div>
            </div>
          </ng-container>
        </div>
      </tui-scrollbar>
      <!--Gallery-->
      <tui-carousel
        *ngIf="activeItemIndex == 1"
        [draggable]="true"
        [itemsCount]="3"
        [(index)]="index"
        class="my-5"
      >
        <ng-container *ngFor="let item of event?.gallery[0]?.mediaUrl; let index = index">
          <img
            *tuiItem
            alt="carousel_item"
            class="object-contain w-60 h-60 rounded-lg border border-gray-300"
            draggable="false"
            [src]="item"
            [class.item_active]="index === index + 1"
          />
        </ng-container>
      </tui-carousel>
    </div>
  </ng-container>
  <ng-template #loading>
    <tui-loader class="mt-14" [overlay]="false" size="xl" [inheritColor]="false"></tui-loader>
  </ng-template>
</app-layout>
