<app-layout>
  <ng-container *ngIf="event else loading">
    <div class="w-10/12 rounded-lg shadow-lg border-t-8 border-t-[#118A4E] border-b-8 border-b-[#234A75] mx-auto relative overflow-hidden">
      <div class="absolute top-0 right-0 w-16 h-16">
        <div
          class="absolute transform rotate-45 bg-[#234A75] text-center text-white font-semibold py-2 text-base -left-20 top-8 w-[190px] capitalize">
          {{event?.eventStatus}}
        </div>
      </div>
      <h1 class="text-center font-bold text-4xl my-5 mx-32 font-['Preahvihear']">{{event?.title}}</h1>
      <div class="h-64 mx-auto shadow-md w-100">
        <img
          [src]="event?.featuredImage"
          alt="conference_image"
          class="object-contain w-full h-full rounded-xl"
        >
      </div>
      <p class="text-center text-xl my-5 rounded-lg font-['Preahvihear']">{{event?.description}}</p>
      <div class="flex justify-center my-3">
        <button
          tuiButton
          size="s"
          appearance="custom"
          class="px-2 text-white bg-green-400"
          (click)="showPDF(actions, event?.eventPdf)"
        >
          Preview PDF
        </button>
      </div>
      <div class="text-center text-lg py-1 px-2 rounded-md bg-[#118A4E] text-white font-semibold mb-3 w-2/3 mx-auto">
        <ng-container *ngIf="event?.startDate !== event?.endDate">
          <p class="mt-2"><tui-svg new size="xxs" src="tuiIconCalendarLarge"></tui-svg> &nbsp; {{event?.startDate | date: 'MMM d'}} to {{event?.endDate | date: 'mediumDate'}}</p>
        </ng-container>
        <ng-container *ngIf="event?.startDate == event?.endDate">
          <p class="mt-2"><tui-svg new size="xxs" src="tuiIconCalendarLarge"></tui-svg> &nbsp; {{event?.startDate | date: 'mediumDate'}}</p>
        </ng-container>
        <p class="my-2"><tui-svg new size="xxs" src="tuiIconMapPinLarge"></tui-svg> &nbsp; {{event?.location?.name}}</p>
      </div>
      <div class="flex justify-center">
        <tui-tabs tuiMobileTabs [(activeItemIndex)]="activeItemIndex" class="mb-5">
          <button
            tuiTab
            (click)="activeItemIndex = 0"
            class="font-medium"
          >
            <tui-svg
              src="tuiIconOLLarge"
              class="tui-space_right-2"
            ></tui-svg>
            Agenda
          </button>
          <button
            tuiTab
            (click)="activeItemIndex = 1"
            class="font-medium"
          >
            <tui-svg
              src="tuiIconCameraLarge"
              class="tui-space_right-2"
            ></tui-svg>
            Gallery
          </button>
          <button
            tuiTab
            (click)="activeItemIndex = 2"
            class="font-medium"
          >
            <tui-svg
              src="tuiIconMessageSquareLarge"
              class="tui-space_right-2"
            ></tui-svg>
            Feedback
          </button>
        </tui-tabs>
      </div>
      <!--Timeline-->
      <tui-scrollbar class="overflow-x-hidden overflow-y-scroll max-h-140" *ngIf="activeItemIndex == 0">
        <div class="flex justify-center gap-x-4">
          <tui-tabs tuiMobileTabs [(activeItemIndex)]="activeItemIndexDates" class="mt-2 mb-5">
            <ng-container *ngFor="let date of getObjectKeys(agendaByDay); let i = index">
              <button
                tuiTab
                (click)="activeItemIndexDates = i"
                class="font-medium"
              >
                {{date}}
              </button>
            </ng-container>
          </tui-tabs>
        </div>
        <div class="timeline">
          <ng-container *ngFor="let agent of getObjectValues(agendaByDay, activeItemIndexDates); let i = index; let even = even; let odd = odd">
            <div class="container" [ngClass]="odd ? 'left': 'right'">
              <div class="content">
                <ng-container *ngIf="!agent.agendaTitle.toLowerCase().includes('break')">
                  <p class="mt-2"><span class="font-semibold">Topic</span>: &nbsp; {{agent.agendaTitle}}</p>
                </ng-container>
                <ng-container *ngIf="agent.agendaTitle.toLowerCase().includes('break')">
                  <p class="mt-2">{{agent.agendaTitle}}</p>
                </ng-container>
                <p><span class="font-semibold">Speaker</span>: &nbsp; {{agent.speaker?.speakerName ? agent.speaker?.speakerName : 'No speaker'}}</p>
                <p><span class="font-semibold">Hall</span>: &nbsp; {{agent.hall}}</p>
                <p>
                  <span class="font-semibold">From</span> &nbsp; {{agent.from}} &nbsp;
                  <span class="font-semibold">to</span> &nbsp; {{agent.to}}
                </p>
              </div>
            </div>
          </ng-container>
        </div>
      </tui-scrollbar>
      <!--Gallery-->
      <tui-carousel
        *ngIf="activeItemIndex == 1"
        [draggable]="true"
        [itemsCount]="3"
        [(index)]="index"
        class="my-5"
      >
        <ng-container *ngFor="let item of event?.gallery[0]?.mediaUrl; let index = index">
          <img
            *tuiItem
            alt="carousel_item"
            class="object-contain border border-gray-300 rounded-lg w-60 h-60"
            draggable="false"
            [src]="item"
            [class.item_active]="index === index + 1"
          />
        </ng-container>
      </tui-carousel>
      <!--Feedback-->
      <div *ngIf="activeItemIndex == 2" class="flex flex-col justify-center items-center gap-y-3">
        <div class="flex gap-x-4">
          <p class="text-base font-semibold">Food: </p>
          <tui-rating
            [readOnly]="true"
            class="text-yellow-500"
            [(ngModel)]="food"
          ></tui-rating>
        </div>
        <div class="flex gap-x-4">
          <p class="text-base font-semibold">Venue: </p>
          <tui-rating
            [readOnly]="true"
            class="text-yellow-500"
            [(ngModel)]="venue"
          ></tui-rating>
        </div>
        <div class="flex gap-x-4">
          <p class="text-base font-semibold">Speaker: </p>
          <tui-rating
            [readOnly]="true"
            class="text-yellow-500"
            [(ngModel)]="speaker"
          ></tui-rating>
        </div>
        <div class="flex gap-x-4">
          <p class="text-base font-semibold">Overall: </p>
          <tui-rating
            [readOnly]="true"
            class="text-yellow-500"
            [(ngModel)]="overall"
          ></tui-rating>
        </div>
        <p class="text-base py-4">
          Comments: &nbsp; {{comments}}
        </p>
      </div>
    </div>
  </ng-container>
  <ng-template #loading>
    <tui-loader class="mt-14" [overlay]="false" size="xl" [inheritColor]="false"></tui-loader>
  </ng-template>
</app-layout>

<ng-template
  #actions
  let-content="content"
>
  <a
    download
    shape="rounded"
    size="s"
    tuiButton
    [href]="content"
  >
    Download
  </a>
</ng-template>