@tailwind base;
@tailwind components;
@tailwind utilities;


.fc .fc-today-button {
  text-transform: capitalize!important;
}

.fc-h-event .fc-event-main-frame {
  display: flex;
  gap: 10px!important;
}

._disabled {
  opacity: 1!important;
}

.gui-structure-container .gui-structure-container-element .gui-content .gui-row .gui-cell {
  border-right: 1px solid transparent!important;
  box-sizing: border-box!important;
  line-height: 1em!important;
  overflow: hidden!important;
  padding: 0!important;
  white-space: pre-line!important;
}
